@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }
    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar ul {
        display: none;
    }
    .navbar .actions {
        display: none;
    }
    .toggle-menu svg {
        width: 24px;
        color: #666;
    }
    .actions-mobile {
        display: block;
        margin-left: auto;
    }
    .user-label {
        display: block;
    }
    .user-checkbox {
        display: none;
    }
    /* .user-checkbox:checked + .user-label + .modal {
        display: block;
    } */
    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        /* padding: 60px; */
        transform: translateX(-100%);
        transition: 0.5s ease;
        width: 300px;

    }

    .menu-drawer img {
        padding: 20px 0 20px 24px!important;
    }

    .menu-drawer>ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        padding: 20px 0 20px 24px!important;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .user-checkbox:checked ~ .user-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
    .hero__img {
        display: none;
    }
    .hero__content {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .features__list {
        grid-template-columns: 1fr 1fr;
    }

    .location__list {
        padding-top: 74px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 50px;
        place-items: center;
        margin-right: 50px;
    }
    
    .location__item {
        width: 220px;
    }

    .location__item:last-of-type {
        display: none;
    }
    .client__brand {
        /* flex-wrap: wrap;
        justify-content: center; */
    }
    .stats .row {
        flex-direction: column;
    }
    .stats__media,
    .stats__info {
        width: 100%;
    }

    .stats__media {
        order: 2;
        margin-top: 80px;
    }

    .stats__info {
        order: 1;
        padding: 0;
    }

    .stats__subtitle {
        width: 70%;
    }

    .stats__info .stats__desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty--value {
        font-size: 5rem;
    }

    .stats .qty__desc {
        font-size: 1.5rem;
    }
    .contact__image {
        display: none;
    }
    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px; 
    }

}

@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .features__list {
        grid-template-columns: 1fr;
    }
    .location__list {
        display: none;
    }
    .splide {
        display: block;
    }
    .features__thumb__img {
        display: block;
    }
    .features__link {
        display: none;
    }
    .features__title {
        text-align: center;
    }
   .features__desc {
    margin: 0 auto;
   }
    .client__brand {
        row-gap: 20px;
    }
    .client__desc {
        display: none;
    }
    .guides__list {
        flex-direction: column;
        row-gap: 60px;
    }
    .guides__cta {
        margin-top: 60px;
    }
    .show-on-mobile {
        /* display: block; */
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .stats__subtitle{
        width: 100%;
    }

    .stats__media .stats__image {
        width: 100%;
    }

    .stats__trend {
        left: 20px;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }
    .contact__info {
        padding: 32px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
    }
    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }

}