/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }
    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .navbar ul {
        display: none;
    }
    .navbar .actions {
        display: none;
    }
    .toggle-menu svg {
        width: 24px;
        color: #666;
    }
    .actions-mobile {
        display: block;
        margin-left: auto;
    }
    .user-label {
        display: block;
    }
    .user-checkbox {
        display: none;
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 1000;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        width: 300px;

    }

    .menu-drawer img {
        padding: 20px 0 20px 24px!important;
    }

    .menu-drawer>ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        padding: 20px 0 20px 24px!important;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .user-checkbox:checked ~ .user-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .hero__img {
        display: none;
    }
    .hero__content {
        width: 80%;
        margin: 0 auto;
        z-index: 1000;
        text-align: center;
    }
    .hero .container {
        z-index: 888;
    }
    .features__list {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .location__list {
        padding-top: 74px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 50px;
        place-items: center;
        margin-right: 50px;
    }
    
    .location__item {
        width: 220px;
    }

    .location__item:last-of-type {
        display: none;
    }
    .client__brand {
        /* flex-wrap: wrap;
        justify-content: center; */
    }
    .stats .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .stats__media,
    .stats__info {
        width: 100%;
    }

    .stats__media {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-top: 80px;
    }

    .stats__info {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding: 0;
    }

    .stats__subtitle {
        width: 70%;
    }

    .stats__info .stats__desc {
        width: 100%;
    }

    .stats .row-qty {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .stats .qty--value {
        font-size: 5rem;
    }

    .stats .qty__desc {
        font-size: 1.5rem;
    }
    .contact__image {
        display: none;
    }
    .footer .row-top {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px; 
    }

}

@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .features__list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .location__list {
        display: none;
    }
    .splide {
        display: block;
    }
    .features__thumb__img {
        display: block;
    }
    .features__link {
        display: none;
    }
    .features__title {
        text-align: center;
    }
   .features__desc {
    margin: 0 auto;
   }
    .client__brand {
        row-gap: 20px;
    }
    .client__desc {
        display: none;
    }
    .guides__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 60px;
    }
    .guides__cta {
        margin-top: 60px;
    }
    .show-on-mobile {
        /* display: block; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 60px;
    }
    .stats__subtitle{
        width: 100%;
    }

    .stats__media .stats__image {
        width: 100%;
    }

    .stats__trend {
        left: 20px;
    }

    .stats .row-qty {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 60px;
    }
    .contact__info {
        padding: 32px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row-top {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .footer .row-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        row-gap: 24px;
    }

}